/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
}

/* Center Wrapper */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.auth-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 25px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  .dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
}

.dashboard-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  text-align: center;   /* 👈 centers all text */
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.dashboard-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.add-task {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.task-list button {
  scroll-margin-right: 10px;
   justify-content: center;
}
}